.venueSection {
  /* padding-left: 1rem; */
}

.venueSection > * + * {
  margin-top: 1rem;
}

.bandDetailsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  padding: 1rem;
}

.bandDetail > * + * {
  margin-top: 0.2rem;
}

.image {
  /* Frame 1261152740 */

  width: 100%;
  height: 170px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(medium-shot-musicians-working-studio.jpg);
  border-radius: 10px;

  object-fit: cover;
}

.map {
  max-width: 100%;
  height: 400px;
  /* background-color: aqua; */
}

.socials {
  display: flex;
  gap: 5px;
}

.bandName {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #0a2259;
}

.search {
  padding-top: 1rem;
}

.search > * + * {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .venueSection {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0;
  }

  .venueSection > * + * {
    margin-top: 0;
  }

  .map {
    grid-column: 2/-1;
    grid-row: 1/3;
    /* background-color: aqua; */
    height: 900px;
  }

  .mapImage {
    max-width: 100%;
    /* height: 900px; */
    object-fit: cover;
  }

  .search {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .bandDetailsContainer {
    grid-row: 2/3;
    grid-column: 1/2;
    height: 700px;
    overflow-y: scroll;
  }

  .showMore {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .genre {
    display: none;
    height: 100px;
  }
}
