/* .card {
  padding: 24px 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
} */

.card {
  padding: 24px 0px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); 
  gap: 1rem;
  width: 100%;
}
