.dashboard {
  display: grid;
  position: relative;
}

@media screen and (min-width: 914px) {
  .dashboard {
    display: grid;
    grid-template-columns: 14rem 1fr;
    position: relative;
    grid-template-rows: auto 1fr;
  }
}
